
<html>
<head>

    <link href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
    <script src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.0/js/bootstrap.min.js"></script>
    <script src="//code.jquery.com/jquery-1.11.1.min.js"></script>


    <title>Lista zadań</title>
</head>
<body>

<div style="margin: 20px; float: right">
    <button type="button" class="btn btn-primary" onClick="location.href='/logout'" >Wyloguj</button>
</div>
<table class="table table-striped">
    <thead>
    <tr>
        <th scope="col">#</th>
        <th scope="col">Nazwa</th>
        <th scope="col">Status</th>
        <th scope="col">Opis</th>
        <th scope="col">User</th>
    </tr>
    </thead>
    <tbody>
    {% set i=1 %}
    {% for task in dataTask %}
    <tr>
        <th scope="row">{{ i }}</th>
        <td>{{ task.name }}</td>
        <td>{{ task.status }}</td>
        <td>{{ task.description }}</td>
        <td>{{ task.user }}</td>
    </tr>
        {% set i=i+1 %}
    {% endfor %}
    </tbody>
</table>




</body>
</html>